<!DOCTYPE html> 
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymelead/layout">

<h:head>
	<meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <title>PKDM - Admin</title>
    <link href="../static/vendor/fontawesome-free/css/all.min.css" th:href="@{/vendor/fontawesome-free/css/all.min.css}" rel="stylesheet" type="text/css" />
    <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet" />
    <link href="../static/css/sb-admin-2.min.css" th:href="@{/css/sb-admin-2.min.css}" rel="stylesheet" />
    <link th:href="@{/css/colors.css}" rel="stylesheet" />
    <link th:href="@{/css/styles.css}" rel="stylesheet" />
</h:head> 
<body>
    <div class='dashboard'>
    <div class="dashboard-nav">
        <header><a href="#!" class="menu-toggle"><i class="fas fa-bars"></i></a>
        	<a class="sidebar-brand d-flex align-items-center justify-content-center" href="index.html">
	            <div class="sidebar-brand-icon rounded-circle">
	                <img th:src="@{/img/lgo-gnr-mjr.png}" width="40px" />
	            </div>
	             <div class="sidebar-brand-text mx-3 text-light pt-2" style="font-size: 14px; line-height: 25px;">Admin<br/> 
	             <sup class="text-danger" style="font-size: 12px;">Panelization</sup></div>
	       	</a>
        </header>
        <nav class="dashboard-nav-list">
			<ul class="navbar-nav sidebar bg-theme-blue sidebar-dark" style="font-size: 11px;">
				<hr class="sidebar-divider"></hr>
				<div class="sidebar-heading text-dark" >
		           General
		        </div>
				<li class="nav-item">
		            <a class="nav-link text-light" th:href="@{/admin/general/dashboard}">
		                <i class="fas fa-fw fa-tachometer-alt text-danger" style="font-size: 14px;"></i>
		                <span style="font-size: 12px;" class="font-weight-lighter">Dashboard</span>
		            </a>
		        </li>
		        <hr class="sidebar-divider"></hr>
				<div class="sidebar-heading text-dark">
		            Account
		        </div>
		        <li class="nav-item">
		            <a class="nav-link text-light" th:href="@{/admin/account/admins/new}">
		                <i class="fas fa-users text-danger" style="font-size: 14px;"></i>
		                 <span style="font-size: 12px;"  class="font-weight-lighter">Admins</span>
		            </a>
		        </li>
		        <li class="nav-item">
		            <a class="nav-link text-light" th:href="@{/admin/account/authors/new}">
		                <i class="fas fa-users text-danger" style="font-size: 14px;"></i>
		                 <span style="font-size: 12px;"  class="font-weight-lighter">Authors</span>
		            </a>
		        </li>
		        <li class="nav-item">
		            <a class="nav-link text-light" th:href="@{/admin/account/users/new}">
		                <i class="fas fa-users text-danger" style="font-size: 14px;"></i>
		                 <span style="font-size: 12px;"  class="font-weight-lighter">Users</span>
		            </a>
		        </li>
		        <hr class="sidebar-divider"></hr>
		        <div class="sidebar-heading text-dark">
		            Shelf
		        </div>
		        <li class="nav-item">
		            <a class="nav-link text-light" th:href="@{/admin/shelf/authors/new}">
		                <i class="fas fa-cubes text-danger" style="font-size: 14px;"></i>
		                 <span style="font-size: 12px;"  class="font-weight-lighter">Authors</span>
		            </a>
		        </li>
		        <li class="nav-item">
		            <a class="nav-link text-light" th:href="@{/admin/shelf/features/new}">
		                <i class="fas fa-cubes text-danger" style="font-size: 14px;"></i>
		                 <span style="font-size: 12px;"  class="font-weight-lighter">Features</span>
		            </a>
		        </li>
		        <li class="nav-item">
		            <a class="nav-link text-light" th:href="@{/admin/shelf/categories/new}">
		                <i class="fas fa-cubes text-danger" style="font-size: 14px;"></i>
		                 <span style="font-size: 12px;"  class="font-weight-lighter">Categories</span>
		            </a>
		        </li>
		        <hr class="sidebar-divider"></hr>
		         <div class="sidebar-heading text-dark">
		            Book
		        </div>
		        <li class="nav-item">
		            <a class="nav-link text-light" th:href="@{/admin/book/book-series/new}">
		                <i class="fas fa-book-open text-danger" style="font-size: 14px;"></i>
		                 <span style="font-size: 12px;"  class="font-weight-lighter">E-Book</span>
		            </a>
		        </li>
		        <li class="nav-item">
		            <a class="nav-link text-light" th:href="@{/admin/book-section/book-series-section/new}">
		                <i class="fas fa-book-open text-danger" style="font-size: 14px;"></i>
		                 <span style="font-size: 12px;"  class="font-weight-lighter">P-Book</span>
		            </a>
		        </li>
		        
		        
				<hr class="sidebar-divider"></hr>
		         <div class="sidebar-heading text-dark">
		            Book - Series
		        </div>
		       
		        <li class="nav-item">
		            <a class="nav-link text-light" th:href="@{/admin/book/show-books/SERIE}">
		                <i class="fas fa-book-open text-danger" style="font-size: 14px;"></i>
		                 <span style="font-size: 12px;"  class="font-weight-lighter">All Books</span>
		            </a>
		        </li>
		        
		        <li class="nav-item">
		            <a class="nav-link text-light" th:href="@{/admin/book-section/show-book-sections/SERIE}">
		                <i class="fas fa-book-open text-danger" style="font-size: 14px;"></i>
		                 <span style="font-size: 12px;"  class="font-weight-lighter">All Sections</span>
		            </a>
		        </li>
		        
		        <li class="nav-item">
		            <a class="nav-link text-light" th:href="@{/admin/book-section-detail/show-book-section-details/SERIE}">
		                <i class="fas fa-book-open text-danger" style="font-size: 14px;"></i>
		                 <span style="font-size: 12px;"  class="font-weight-lighter">All Section Details</span>
		            </a>
		        </li>
		        		         
		        <hr class="sidebar-divider"></hr>
		         <div class="sidebar-heading text-dark">
		            Book - Lone Chinn
		        </div>
		       
		        		        
		        <li class="nav-item">
		            <a class="nav-link text-light" th:href="@{/admin/book/show-books/ENTIRE}">
		                <i class="fas fa-book-open text-danger" style="font-size: 14px;"></i>
		                 <span style="font-size: 12px;"  class="font-weight-lighter">All Books</span>
		            </a>
		        </li> 
		        
		        <li class="nav-item">
		            <a class="nav-link text-light" th:href="@{/admin/book-section/show-book-sections/ENTIRE}">
		                <i class="fas fa-book-open text-danger" style="font-size: 14px;"></i>
		                 <span style="font-size: 12px;"  class="font-weight-lighter">All Book Sections</span>
		            </a>
		        </li> 
		        
		        <hr class="sidebar-divider"></hr>
		         <div class="sidebar-heading text-dark">
		            Discount
		        </div>
		        <li class="nav-item">
		            <a class="nav-link text-light" th:href="@{/admin/book-section-detail/book-series-section-detail/new}">
		                <i class="fas fa-percentage text-danger" style="font-size: 14px;"></i>
		                 <span style="font-size: 12px;"  class="font-weight-lighter">Book Discount</span>
		            </a>
		        </li>
		        <li class="nav-item">
		            <a class="nav-link text-light" href="../user/userexportfiledownloader.xhtml">
		                <i class="fas fa-percentage text-danger" style="font-size: 14px;"></i>
		                 <span style="font-size: 12px;"  class="font-weight-lighter">Book Discount Mapper</span>
		            </a>
		        </li>
		        <li class="nav-item">
		            <a class="nav-link text-light" th:href="@{/admin/discount/usercoupons/new}">
		                <i class="fas fa-percentage text-danger" style="font-size: 14px;"></i>
		                 <span style="font-size: 12px;"  class="font-weight-lighter">User Coupon</span>
		            </a>
		        </li>
		        <li class="nav-item">
		            <a class="nav-link text-light" th:href="@{/admin/account/discountcouponmappers/new}">
		                <i class="fas fa-percentage text-danger" style="font-size: 14px;"></i>
		                 <span style="font-size: 12px;"  class="font-weight-lighter">User Coupon Mapper</span>
		            </a>
		        </li>
		        <hr class="sidebar-divider"></hr>
		         <div class="sidebar-heading text-dark">
		            Advertising
		        </div>
		        <li class="nav-item">
		            <a class="nav-link text-light" th:href="@{/admin/advertising/majorbanners/new}">
		                <i class="fas fa-image text-danger" style="font-size: 14px;"></i>
		                 <span style="font-size: 12px;"  class="font-weight-lighter">Major Banners</span>
		            </a>
		        </li>
		        <li class="nav-item">
		            <a class="nav-link text-light" th:href="@{/admin/advertising/majorbannermappers/new}">
		                <i class="fas fa-image text-danger" style="font-size: 14px;"></i>
		                 <span style="font-size: 12px;"  class="font-weight-lighter">Major Banners Mapper</span>
		            </a>
		        </li>
		        <li class="nav-item">
		            <a class="nav-link text-light" th:href="@{/admin/advertising/minorbanners/new}">
		                <i class="fas fa-image text-danger" style="font-size: 14px;"></i>
		                 <span style="font-size: 12px;"  class="font-weight-lighter">Minor Banners</span>
		            </a>
		        </li>
		        <li class="nav-item">
		            <a class="nav-link text-light" th:href="@{/admin/advertising/minorbannermappers/new}">
		                <i class="fas fa-image text-danger" style="font-size: 14px;"></i>
		                 <span style="font-size: 12px;"  class="font-weight-lighter">Minor Banners Mapper</span>
		            </a>
		        </li>
		         <hr class="sidebar-divider"></hr>
		         <div class="sidebar-heading text-dark">
		            Delivery
		        </div>
		        <li class="nav-item">
		            <a class="nav-link text-light" th:href="@{/admin/delivery/regions/new}">
		                <i class="fas fa-map text-danger" style="font-size: 14px;"></i>
		                 <span style="font-size: 12px;"  class="font-weight-lighter">Regions</span>
		            </a>
		        </li>
		        <li class="nav-item">
		            <a class="nav-link text-light" th:href="@{/admin/delivery/townships/new}">
		                <i class="fas fa-map text-danger" style="font-size: 14px;"></i>
		                 <span style="font-size: 12px;"  class="font-weight-lighter">Townships</span>
		            </a>
		        </li>
		        <hr class="sidebar-divider"></hr>
		         <div class="sidebar-heading text-dark">
		            Purchasement
		        </div>
		        <li class="nav-item">
		            <a class="nav-link text-light" th:href="@{/admin/payment/systembanks/new}">
		                <i class="fas fa-building text-danger" style="font-size: 14px;"></i>
		                 <span style="font-size: 12px;"  class="font-weight-lighter">Banks</span>
		            </a>
		        </li>
		        <li class="nav-item">
		            <a class="nav-link text-light" href="../user/userexportfiledownloader.xhtml">
		                <i class="fas fa-list text-danger" style="font-size: 14px;"></i>
		                 <span style="font-size: 12px;"  class="font-weight-lighter">Transitions</span>
		            </a>
		        </li>
		        <li class="nav-item">
		            <a class="nav-link text-light" href="../user/userexportfiledownloader.xhtml">
		                <i class="fas fa-list text-danger" style="font-size: 14px;"></i>
		                 <span style="font-size: 12px;"  class="font-weight-lighter">Invoices</span>
		            </a>
		        </li>
		        <li class="nav-item">
		            <a class="nav-link text-light" th:href="@{/admin/purchasement/wallets/new}">
		                <i class="fas fa-list text-danger" style="font-size: 14px;"></i>
		                 <span style="font-size: 12px;"  class="font-weight-lighter">Wallet Top Up</span>
		            </a>
		        </li>
		        <hr class="sidebar-divider"></hr>
		        
		        <div class="sidebar-heading text-dark">
		            Notification
		        </div>
		        <li class="nav-item">
		            <a class="nav-link text-light" th:href="@{/admin/notification/alertNoti/new}">
		                <i class="fas fa-map text-danger" style="font-size: 14px;"></i>
		                 <span style="font-size: 12px;"  class="font-weight-lighter">Alert Notification</span>
		            </a>
		        </li>
		        
		        <hr class="sidebar-divider"></hr>
		        
		        <div class="sidebar-heading text-dark">
		            Contact
		        </div>
		        <li class="nav-item">
		            <a class="nav-link text-light" th:href="@{/admin/contact/edit}">
		                <i class="fas fa-map text-danger" style="font-size: 14px;"></i>
		                 <span style="font-size: 12px;"  class="font-weight-lighter">Edit Contact</span>
		            </a>
		        </li>
		        
		        <hr class="sidebar-divider"></hr>
		        
		        <div class="sidebar-heading text-dark">
		            Term & Condition
		        </div>
		        <li class="nav-item">
		            <a class="nav-link text-light" th:href="@{/admin/account/termandconditions/new}">
		                <i class="fas fa-map text-danger" style="font-size: 14px;"></i>
		                 <span style="font-size: 12px;"  class="font-weight-lighter">Term & Condition</span>
		            </a>
		        </li>
		        
		        <hr class="sidebar-divider"></hr>
		        
		        <div class="sidebar-heading text-dark">
		            Rule & Regulation
		        </div>
		        <li class="nav-item">
		            <a class="nav-link text-light" th:href="@{/admin/account/ruleandregulations/new}">
		                <i class="fas fa-map text-danger" style="font-size: 14px;"></i>
		                 <span style="font-size: 12px;"  class="font-weight-lighter">Rule & Regulation</span>
		            </a>
		        </li>

		        
				<div class="text-center d-none d-md-inline">
		            <span class="text-warning" style="font-size: 12px;">Version 1.0</span>
		        </div>
			</ul>
        </nav>
    </div>
    <div class="dashboard-app" style="font-size: 11px;">
        <header layout:fragment="tlebox" class='dashboard-toolbar shadow-sm'>
        </header>
        <div class="" style="width: 100%; color: white;">
        	<div class="alert bg-success rounded-0" role="alert" th:text="${save}" th:if="${save}"></div>
        	<div class="alert bg-primary rounded-0" role="alert" th:text="${update}" th:if="${update}"></div>
			<div class="alert bg-danger rounded-0" role="alert" th:text="${validation}" th:if="${validation}"></div>
        </div>
      	<form th:action="@{/admin/account/admins/save}" th:object="${admin}" method="post" class="border-bottom" style="width: 100%; height:150px; box-shadow: none; background-color: #F1F1F2; border-radius: 0px;">
			<div style="width: 100%; background-color: #F1F1F2;"  class="pb-2">
				<div class="row">
					<div class="col-12 font-weight-bold text-danger">
						<h5>Welcome</h5>
					</div>
					<div class="col-12 mb-4" style="height: 5px;">
						<hr style="background-color: #E3E6F0;" />
					</div>
					<div class="col-12 mt-2 form-group">
						<span class="lbl">Hello, Kaung Si Thu, Welcome to Phonenix Kingdom Admin Panel</span>
					</div>
				</div>
			</div>
		</form>
      	<div class="container-fluid mt-2">
			<div class="row">
				<div class="col-sm-12 col-md-12 col-lg-12">
					<div class="row" style="font-size: 11px">
				<div class="col-12 font-weight-bold text-danger mt-2 mb-4">
					Account Data
				</div>
				<div class="col-lg-3 col-md-6 col-sm-12 mb-2">
					<div class="rounded pt-3 pl-1 pr-1 pb-3" style="background-color: #F1F1F2;">
						<div class="form-inline">
							<div class="col-7">
								<i class="fas fa-users text-danger" style="font-size: 20px;"></i>
								<div class="mt-2">
									<span class="">Admin</span>
								</div>
							</div>
							<div class="col-5 form-inline">
								<div class="bg-primary rounded text-light pt-1 pb-1 pl-3 pr-3">
									<span style="font-size: 14px;">[[${adminTotal}]]</span>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="col-lg-3 col-md-6 col-sm-12 mb-2">
					<div class="rounded pt-3 pl-1 pr-1 pb-3" style="background-color: #F1F1F2;">
						<div class="form-inline">
							<div class="col-7">
								<i class="fas fa-users text-danger" style="font-size: 20px;"></i>
								<div class="mt-2">
									<span class="">Author</span>
								</div>
							</div>
							<div class="col-5 form-inline">
								<div class="bg-primary rounded text-light pt-1 pb-1 pl-3 pr-3">
									<span style="font-size: 14px;">[[${authorTotal}]]</span>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="col-lg-3 col-md-6 col-sm-12 mb-2">
					<div class="rounded pt-3 pl-1 pr-1 pb-3" style="background-color: #F1F1F2;">
						<div class="form-inline">
							<div class="col-7">
								<i class="fas fa-users text-danger" style="font-size: 20px;"></i>
								<div class="mt-2">
									<span class="">User (Level 1)</span>
								</div>
							</div>
							<div class="col-5 form-inline">
								<div class="bg-primary rounded text-light pt-1 pb-1 pl-3 pr-3">
									<span style="font-size: 14px;">[[${userlevel1Total}]]</span>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="col-lg-3 col-md-6 col-sm-12 mb-2">
					<div class="rounded pt-3 pl-1 pr-1 pb-3" style="background-color: #F1F1F2;">
						<div class="form-inline">
							<div class="col-7">
								<i class="fas fa-users text-danger" style="font-size: 20px;"></i>
								<div class="mt-2">
									<span class="">User (Level 2)</span>
								</div>
							</div>
							<div class="col-5 form-inline">
								<div class="bg-primary rounded text-light pt-1 pb-1 pl-3 pr-3">
									<span style="font-size: 14px;">[[${userlevel2Total}]]</span>
								</div>
							</div>
						</div>
					</div>
				</div>
			   <div class="col-12"><hr /></div>
			</div>
			<div class="row" style="font-size: 11px">
				<div class="col-12 font-weight-bold text-danger mt-2 mb-4">
					Books
					</div>
					<div class="col-lg-4 col-md-6 col-sm-12 mb-2">
						<div class="rounded shadow-sm bg-light pt-3 pb-3">
							<div class="form-inline">
								<div class="col-3">
									<i class="fas fa-cubes text-danger" style="font-size: 20px;"></i>
								</div>
								<div class="col-7 font-weight-bold text-dark">
									E-Book
								</div>
								<div class="col-2">
									[[${ebookTotal}]]
								</div>
							</div>
						</div>
					</div>
					<div class="col-lg-4 col-md-6 col-sm-12 mb-2">
						<div class="rounded shadow-sm bg-light pt-3 pb-3">
							<div class="form-inline">
								<div class="col-3">
									<i class="fas fa-cubes text-danger" style="font-size: 20px;"></i>
								</div>
								<div class="col-7 font-weight-bold text-dark">
									P-Book
								</div>
								<div class="col-2">
									[[${pbookTotal}]]
								</div>
							</div>
						</div>
					</div>
					
			  		 <div class="col-12"><hr /></div>
					</div>
					<div class="row" style="font-size: 11px">
						<div class="col-12 font-weight-bold text-danger mt-2 mb-4">
						Shelf
						</div>
						<div class="col-lg-3 col-md-6 col-sm-12 mb-2">
							<div class="rounded shadow-sm bg-light pt-2 pb-2">
								<div class="form-inline">
									<div class="col-3">
										<i class="fas fa-cubes text-danger" style="font-size: 20px;"></i>
									</div>
									<div class="col-7 font-weight-bold text-dark">
										Author
									</div>
									<div class="col-2">
										[[${shelfAuthorTotal}]]
									</div>
								</div>
							</div>
						</div>
						<div class="col-lg-3 col-md-6 col-sm-12 mb-2">
							<div class="rounded shadow-sm bg-light pt-2 pb-2">
								<div class="form-inline">
									<div class="col-3">
										<i class="fas fa-cubes text-danger" style="font-size: 20px;"></i>
									</div>
									<div class="col-7 font-weight-bold text-dark">
										Feature
									</div>
									<div class="col-2">
										[[${shelfFeatureTotal}]]
									</div>
								</div>
							</div>
						</div>
						<div class="col-lg-3 col-md-6 col-sm-12 mb-2">
							<div class="rounded shadow-sm bg-light pt-2 pb-2">
								<div class="form-inline">
									<div class="col-3">
										<i class="fas fa-cubes text-danger" style="font-size: 20px;"></i>
									</div>
									<div class="col-7 font-weight-bold text-dark">
										Category
									</div>
									<div class="col-2">
										[[${shelfCategoryTotal}]]
									</div>
								</div>
							</div>
						</div>
				  		 <div class="col-12"><hr /></div>
					</div>
					<div class="row" style="font-size: 11px">
						<div class="col-6 row">
							<div class="col-lg-12 col-md-12 col-sm-12 font-weight-bold text-danger mt-2 mb-4">
								Discount
							</div>
							<div class="col-lg-6 col-md-6 col-sm-12 mb-2">
								<div class="rounded shadow-sm bg-light pt-2 pb-2">
									<div class="form-inline">
										<div class="col-3">
											<i class="fas fa-percentage text-danger" style="font-size: 20px;"></i>
										</div>
										<div class="col-7 font-weight-bold text-dark">
											Coupon
										</div>
										<div class="col-2">
											[[${couponTotal}]]
										</div>
									</div>
								</div>
							</div>
							<div class="col-lg-6 col-md-6 col-sm-12 mb-2">
								<div class="rounded shadow-sm bg-light pt-2 pb-2">
									<div class="form-inline">
										<div class="col-3">
											<i class="fas fa-percentage text-danger" style="font-size: 20px;"></i>
										</div>
										<div class="col-7 font-weight-bold text-dark">
											Book
										</div>
										<div class="col-2">
											[[${authorTotal}]]
										</div>
									</div>
								</div>
							</div>
						</div>
												<div class="col-6 row">
							<div class="col-lg-12 col-md-12 col-sm-12 font-weight-bold text-danger mt-2 mb-4">
								Advertising
							</div>
							<div class="col-lg-6 col-md-6 col-sm-12 mb-2">
								<div class="rounded shadow-sm bg-light pt-2 pb-2">
									<div class="form-inline">
										<div class="col-3">
											<i class="fas fa-image text-danger" style="font-size: 20px;"></i>
										</div>
										<div class="col-7 font-weight-bold text-dark">
											Major Banner
										</div>
										<div class="col-2">
											[[${majorBannerTotal}]]
										</div>
									</div>
								</div>
							</div>
							<div class="col-lg-6 col-md-6 col-sm-12 mb-2">
								<div class="rounded shadow-sm bg-light pt-2 pb-2">
									<div class="form-inline">
										<div class="col-3">
											<i class="fas fa-image text-danger" style="font-size: 20px;"></i>
										</div>
										<div class="col-7 font-weight-bold text-dark">
											Minor Banner
										</div>
										<div class="col-2">
											[[${minorTotal}]]
										</div>
									</div>
								</div>
							</div>
						</div>
				  		 <div class="col-12"><hr /></div>
					</div>
					<div class="row" style="font-size: 11px">
						<div class="col-6 row">
							<div class="col-lg-12 col-md-12 col-sm-12 font-weight-bold text-danger mt-2 mb-4">
								Discount
							</div>
							<div class="col-lg-6 col-md-6 col-sm-12 mb-2">
								<div class="rounded shadow-sm bg-light pt-2 pb-2">
									<div class="form-inline">
										<div class="col-3">
											<i class="fas fa-map text-danger" style="font-size: 20px;"></i>
										</div>
										<div class="col-7 font-weight-bold text-dark">
											Region
										</div>
										<div class="col-2">
											[[${regionTotal}]]
										</div>
									</div>
								</div>
							</div>
							<div class="col-lg-6 col-md-6 col-sm-12 mb-2">
								<div class="rounded shadow-sm bg-light pt-2 pb-2">
									<div class="form-inline">
										<div class="col-3">
											<i class="fas fa-map text-danger" style="font-size: 20px;"></i>
										</div>
										<div class="col-7 font-weight-bold text-dark">
											Township
										</div>
										<div class="col-2">
											[[${townshipTotal}]]
										</div>
									</div>
								</div>
							</div>
						</div>
												<div class="col-6 row">
							<div class="col-lg-12 col-md-12 col-sm-12 font-weight-bold text-danger mt-2 mb-4">
								Purchasement
							</div>
							<div class="col-lg-6 col-md-6 col-sm-12 mb-2">
								<div class="rounded shadow-sm bg-light pt-2 pb-2">
									<div class="form-inline">
										<div class="col-3">
											<i class="fas fa-list text-danger" style="font-size: 20px;"></i>
										</div>
										<div class="col-7 font-weight-bold text-dark">
											Transitions
										</div>
										<div class="col-2">
											3
										</div>
									</div>
								</div>
							</div>
							<div class="col-lg-6 col-md-6 col-sm-12 mb-2">
								<div class="rounded shadow-sm bg-light pt-2 pb-2">
									<div class="form-inline">
										<div class="col-3">
											<i class="fas fa-list text-danger" style="font-size: 20px;"></i>
										</div>
										<div class="col-7 font-weight-bold text-dark">
											Invoices
										</div>
										<div class="col-2">
											5
										</div>
									</div>
								</div>
							</div>
						</div>
				  		 <div class="col-12"><hr /></div>
					</div>
				</div>
				
			</div>
		</div>
      	<footer class="bg-white border-top pt-2 pb-2" style="height: 35px; width:100%; bottom: 0; position: fixed;">
            <div class="container" style="margin-left: 33%;">
                <div class="copyright">
                    <span>copyright @ <span class="text-danger">www.redboxmm.com</span> 2022</span>
                </div>
            </div>
        </footer>
    </div>
</div>
<script src="webjars/bootstrap/3.3.6/js/bootstrap.min.js"></script>
<script src="webjars/jquery/1.9.1/jquery.min.js"></script>
<script>
	const mobileScreen = window.matchMedia("(max-width: 990px )");
	$(document).ready(function () {
	    $(".dashboard-nav-dropdown-toggle").click(function () {
	        $(this).closest(".dashboard-nav-dropdown")
	            .toggleClass("show")
	            .find(".dashboard-nav-dropdown")
	            .removeClass("show");
	        $(this).parent()
	            .siblings()
	            .removeClass("show");
	    });
	    $(".menu-toggle").click(function () {
	        if (mobileScreen.matches) {
	            $(".dashboard-nav").toggleClass("mobile-show");
	        } else {
	            $(".dashboard").toggleClass("dashboard-compact");
	        }
	    });
	});
</script>
</body>
</html>
