<!DOCTYPE html> 
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymelead/layout">

<h:head>
	<meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <title>PKDM - Admin</title>
    <link href="../static/vendor/fontawesome-free/css/all.min.css" th:href="@{/vendor/fontawesome-free/css/all.min.css}" rel="stylesheet" type="text/css" />
    <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet" />
    <link href="../static/css/sb-admin-2.min.css" th:href="@{/css/sb-admin-2.min.css}" rel="stylesheet" />
    <link th:href="@{/css/colors.css}" rel="stylesheet" />
    <link th:href="@{/css/styles.css}" rel="stylesheet" />
</h:head> 
<body>
    <div class='dashboard'>
    <div class="dashboard-nav">
        <header><a href="#!" class="menu-toggle"><i class="fas fa-bars"></i></a>
        	<a class="sidebar-brand d-flex align-items-center justify-content-center" href="index.html">
	            <div class="sidebar-brand-icon rounded-circle">
	                <img th:src="@{/img/lgo-gnr-mjr.png}" width="40px" />
	            </div>
	             <div class="sidebar-brand-text mx-3 text-light pt-2" style="font-size: 14px; line-height: 25px;">Admin<br/> <sup class="text-danger" style="font-size: 12px;">Panelization</sup></div>
	       	</a>
        </header>
        <nav class="dashboard-nav-list">
			<ul class="navbar-nav sidebar bg-theme-blue sidebar-dark" style="font-size: 11px;">
				<hr class="sidebar-divider"></hr>
				<div class="sidebar-heading text-dark" >
		           General
		        </div>
				<li class="nav-item">
		            <a class="nav-link text-light" th:href="@{/admin/general/dashboard}">
		                <i class="fas fa-fw fa-tachometer-alt text-danger" style="font-size: 14px;"></i>
		                <span style="font-size: 12px;" class="font-weight-lighter">Dashboard</span>
		            </a>
		        </li>
		        <hr class="sidebar-divider"></hr>
				<div class="sidebar-heading text-dark">
		            Account
		        </div>
		        <li class="nav-item">
		            <a class="nav-link text-light" th:href="@{/admin/account/admins/new}">
		                <i class="fas fa-users text-danger" style="font-size: 14px;"></i>
		                 <span style="font-size: 12px;"  class="font-weight-lighter">Admins</span>
		            </a>
		        </li>
		        <li class="nav-item">
		            <a class="nav-link text-light" th:href="@{/admin/account/authors/new}">
		                <i class="fas fa-users text-danger" style="font-size: 14px;"></i>
		                 <span style="font-size: 12px;"  class="font-weight-lighter">Authors</span>
		            </a>
		        </li>
		        <li class="nav-item">
		            <a class="nav-link text-light" th:href="@{/admin/account/users/new}">
		                <i class="fas fa-users text-danger" style="font-size: 14px;"></i>
		                 <span style="font-size: 12px;"  class="font-weight-lighter">Users</span>
		            </a>
		        </li>
		        <hr class="sidebar-divider"></hr>
		        <div class="sidebar-heading text-dark">
		            Shelf
		        </div>
		        <li class="nav-item">
		            <a class="nav-link text-light" th:href="@{/admin/shelf/authors/new}">
		                <i class="fas fa-cubes text-danger" style="font-size: 14px;"></i>
		                 <span style="font-size: 12px;"  class="font-weight-lighter">Authors</span>
		            </a>
		        </li>
		        <li class="nav-item">
		            <a class="nav-link text-light" th:href="@{/admin/shelf/features/new}">
		                <i class="fas fa-cubes text-danger" style="font-size: 14px;"></i>
		                 <span style="font-size: 12px;"  class="font-weight-lighter">Features</span>
		            </a>
		        </li>
		        <li class="nav-item">
		            <a class="nav-link text-light" th:href="@{/admin/shelf/featuremappers/new}">
		                <i class="fas fa-cubes text-danger" style="font-size: 14px;"></i>
		                 <span style="font-size: 12px;"  class="font-weight-lighter">Features Mapper</span>
		            </a>
		        </li>
		        <li class="nav-item">
		            <a class="nav-link text-light" th:href="@{/admin/shelf/categories/new}">
		                <i class="fas fa-cubes text-danger" style="font-size: 14px;"></i>
		                 <span style="font-size: 12px;"  class="font-weight-lighter">Categories</span>
		            </a>
		        </li>
		        
		        <li class="nav-item">
		            <a class="nav-link text-light" th:href="@{/admin/shelf/shelfcategorymappers/new}">
		                <i class="fas fa-cubes text-danger" style="font-size: 14px;"></i>
		                 <span style="font-size: 12px;"  class="font-weight-lighter">Categories Mapper</span>
		            </a>
		        </li>
		        
		        
<hr class="sidebar-divider"></hr>
		         <div class="sidebar-heading text-dark">
		            Book - Series
		        </div>
		       
		        <li class="nav-item">
		            <a class="nav-link text-light" th:href="@{/admin/book/show-books/Series}">
		                <i class="fas fa-book-open text-danger" style="font-size: 14px;"></i>
		                 <span style="font-size: 12px;"  class="font-weight-lighter">All Books</span>
		            </a>
		        </li>
		        
		        <li class="nav-item">
		            <a class="nav-link text-light" th:href="@{/admin/book-section/show-book-sections/Series}">
		                <i class="fas fa-book-open text-danger" style="font-size: 14px;"></i>
		                 <span style="font-size: 12px;"  class="font-weight-lighter">All Sections</span>
		            </a>
		        </li>
		        
		        <li class="nav-item">
		            <a class="nav-link text-light" th:href="@{/admin/book-section-detail/show-book-section-details/Series}">
		                <i class="fas fa-book-open text-danger" style="font-size: 14px;"></i>
		                 <span style="font-size: 12px;"  class="font-weight-lighter">All Section Details</span>
		            </a>
		        </li>
		        		         
		        <hr class="sidebar-divider"></hr>
		         <div class="sidebar-heading text-dark">
		            Book - Lone Chinn
		        </div>
		       
		        		        
		        <li class="nav-item">
		            <a class="nav-link text-light" th:href="@{/admin/book/show-books/LoneChinn}">
		                <i class="fas fa-book-open text-danger" style="font-size: 14px;"></i>
		                 <span style="font-size: 12px;"  class="font-weight-lighter">All Books</span>
		            </a>
		        </li> 
		        
		        <li class="nav-item">
		            <a class="nav-link text-light" th:href="@{/admin/book-section/show-book-sections/LoneChinn}">
		                <i class="fas fa-book-open text-danger" style="font-size: 14px;"></i>
		                 <span style="font-size: 12px;"  class="font-weight-lighter">All Book Sections</span>
		            </a>
		        </li> 
		        
		        <hr class="sidebar-divider"></hr>
		         <div class="sidebar-heading text-dark">
		            Discount
		        </div>
		        <li class="nav-item">
		            <a class="nav-link text-light" th:href="@{/admin/book-section-detail/book-series-section-detail/new}">
		                <i class="fas fa-percentage text-danger" style="font-size: 14px;"></i>
		                 <span style="font-size: 12px;"  class="font-weight-lighter">Book Discount</span>
		            </a>
		        </li>
		        <li class="nav-item">
		            <a class="nav-link text-light" href="../user/userexportfiledownloader.xhtml">
		                <i class="fas fa-percentage text-danger" style="font-size: 14px;"></i>
		                 <span style="font-size: 12px;"  class="font-weight-lighter">Book Discount Mapper</span>
		            </a>
		        </li>
		        <li class="nav-item">
		            <a class="nav-link text-light" th:href="@{/admin/discount/usercoupons/new}">
		                <i class="fas fa-percentage text-danger" style="font-size: 14px;"></i>
		                 <span style="font-size: 12px;"  class="font-weight-lighter">User Coupon</span>
		            </a>
		        </li>
		        <li class="nav-item">
		            <a class="nav-link text-light" th:href="@{/admin/account/discountcouponmappers/new}">
		                <i class="fas fa-percentage text-danger" style="font-size: 14px;"></i>
		                 <span style="font-size: 12px;"  class="font-weight-lighter">User Coupon Mapper</span>
		            </a>
		        </li>
		        <hr class="sidebar-divider"></hr>
		         <div class="sidebar-heading text-dark">
		            Advertising
		        </div>
		        <li class="nav-item">
		            <a class="nav-link text-light" th:href="@{/admin/advertising/majorbanners/new}">
		                <i class="fas fa-image text-danger" style="font-size: 14px;"></i>
		                 <span style="font-size: 12px;"  class="font-weight-lighter">Major Banners</span>
		            </a>
		        </li>
		        <li class="nav-item">
		            <a class="nav-link text-light" th:href="@{/admin/advertising/majorbannermappers/new}">
		                <i class="fas fa-image text-danger" style="font-size: 14px;"></i>
		                 <span style="font-size: 12px;"  class="font-weight-lighter">Major Banners Mapper</span>
		            </a>
		        </li>
		        <li class="nav-item">
		            <a class="nav-link text-light" th:href="@{/admin/advertising/minorbanners/new}">
		                <i class="fas fa-image text-danger" style="font-size: 14px;"></i>
		                 <span style="font-size: 12px;"  class="font-weight-lighter">Minor Banners</span>
		            </a>
		        </li>
		        <li class="nav-item">
		            <a class="nav-link text-light" th:href="@{/admin/advertising/minorbannermappers/new}">
		                <i class="fas fa-image text-danger" style="font-size: 14px;"></i>
		                 <span style="font-size: 12px;"  class="font-weight-lighter">Minor Banners Mapper</span>
		            </a>
		        </li>
		         <hr class="sidebar-divider"></hr>
		         <div class="sidebar-heading text-dark">
		            Delivery
		        </div>
		        <li class="nav-item">
		            <a class="nav-link text-light" th:href="@{/admin/delivery/regions/new}">
		                <i class="fas fa-map text-danger" style="font-size: 14px;"></i>
		                 <span style="font-size: 12px;"  class="font-weight-lighter">Regions</span>
		            </a>
		        </li>
		        <li class="nav-item">
		            <a class="nav-link text-light" th:href="@{/admin/delivery/townships/new}">
		                <i class="fas fa-map text-danger" style="font-size: 14px;"></i>
		                 <span style="font-size: 12px;"  class="font-weight-lighter">Townships</span>
		            </a>
		        </li>
		        <hr class="sidebar-divider"></hr>
		         <div class="sidebar-heading text-dark">
		            Purchasement
		        </div>
		        <li class="nav-item">
		            <a class="nav-link text-light" th:href="@{/admin/payment/systembanks/new}">
		                <i class="fas fa-building text-danger" style="font-size: 14px;"></i>
		                 <span style="font-size: 12px;"  class="font-weight-lighter">Banks</span>
		            </a>
		        </li>
		        <li class="nav-item">
		            <a class="nav-link text-light" href="../user/userexportfiledownloader.xhtml">
		                <i class="fas fa-list text-danger" style="font-size: 14px;"></i>
		                 <span style="font-size: 12px;"  class="font-weight-lighter">Transitions</span>
		            </a>
		        </li>
		        <li class="nav-item">
		            <a class="nav-link text-light" href="../user/userexportfiledownloader.xhtml">
		                <i class="fas fa-list text-danger" style="font-size: 14px;"></i>
		                 <span style="font-size: 12px;"  class="font-weight-lighter">Invoices</span>
		            </a>
		        </li>
		        <li class="nav-item">
		            <a class="nav-link text-light" th:href="@{/admin/purchasement/wallets/new}">
		                <i class="fas fa-list text-danger" style="font-size: 14px;"></i>
		                 <span style="font-size: 12px;"  class="font-weight-lighter">Wallet Top Up</span>
		            </a>
		        </li>
		        <hr class="sidebar-divider"></hr>
		        
		        <div class="sidebar-heading text-dark">
		            Notification
		        </div>
		        <li class="nav-item">
		            <a class="nav-link text-light" th:href="@{/admin/notification/alertNoti/new}">
		                <i class="fas fa-map text-danger" style="font-size: 14px;"></i>
		                 <span style="font-size: 12px;"  class="font-weight-lighter">Alert Notification</span>
		            </a>
		        </li>
		        
		        <hr class="sidebar-divider"></hr>
		        
		        <div class="sidebar-heading text-dark">
		            Contact
		        </div>
		        <li class="nav-item">
		            <a class="nav-link text-light" th:href="@{/admin/contact/edit}">
		                <i class="fas fa-map text-danger" style="font-size: 14px;"></i>
		                 <span style="font-size: 12px;"  class="font-weight-lighter">Edit Contact</span>
		            </a>
		        </li>
		        
		        <hr class="sidebar-divider"></hr>
		        
		        <div class="sidebar-heading text-dark">
		            Term & Condition
		        </div>
		        <li class="nav-item">
		            <a class="nav-link text-light" th:href="@{/admin/account/termandconditions/new}">
		                <i class="fas fa-map text-danger" style="font-size: 14px;"></i>
		                 <span style="font-size: 12px;"  class="font-weight-lighter">Term & Condition</span>
		            </a>
		        </li>
		        
		        <hr class="sidebar-divider"></hr>
		        
		        <div class="sidebar-heading text-dark">
		            Rule & Regulation
		        </div>
		        <li class="nav-item">
		            <a class="nav-link text-light" th:href="@{/admin/account/ruleandregulations/new}">
		                <i class="fas fa-map text-danger" style="font-size: 14px;"></i>
		                 <span style="font-size: 12px;"  class="font-weight-lighter">Rule & Regulation</span>
		            </a>
		        </li>

		        
				<div class="text-center d-none d-md-inline">
		            <span class="text-warning" style="font-size: 12px;">Version 1.0</span>
		        </div>
			</ul>
        </nav>
    </div>
    <div class="dashboard-app" style="font-size: 11px;">
        <header class='dashboard-toolbar shadow-sm'>
        	<div class="pr-2">
			<a href="#!" class="menu-toggle">
				<i class="fas fa-bars"></i>
			</a>
		</div>
		<div class="pl-5 pr-2">
			Contact
		</div>
		<div class="pl-2 pr-2" style="font-size: 9;">
			<i class="fas fa-arrow-right"></i>
		</div> 	
		<div class="pl-2 pr-2" style="width: 10%">
			Edit Contact
		</div>
		<div class="text-right" style="width: 75%; font-size: 10px;">
			<a class="profilebtn" th:href="@{/admin/profile/account}" > <i class="fas fa-user mr-2"></i> [[${loginaccount.id}]] (Admin) </a>
		</div>
		<div class="text-right text-danger" style="width: 10%; font-size: 10px;">
			<a class="logoutbtn" th:href="@{/signout}" > Logout </a>
		</div>
        </header>
        <div class="" style="width: 100%; color: white;">
        	<div class="alert bg-success rounded-0" role="alert" th:text="${save}" th:if="${save}"></div>
        	<div class="alert bg-primary rounded-0" role="alert" th:text="${update}" th:if="${update}"></div>
			<div class="alert bg-danger rounded-0" role="alert" th:text="${validation}" th:if="${validation}"></div>
        </div>
      	<form th:action="@{/admin/contact/edit/update}" th:object="${contactInfo}" method="post"  class="border-bottom" style="width: 100%; height:320px; box-shadow: none; background-color: #F1F1F2; border-radius: 0px;">
		<div style="width: 100%; background-color: #F1F1F2;"  class="pb-2">
		<div class="">
			<div class="row">
					<div class="col-12 font-weight-bold text-danger mb-3">
						Inventory
					</div>
					<div class="col-12 font-weight-bold text-danger mb-2">
						<div class="col-12 border-bottom"></div>
					</div>
					<div class="col-3 mt-2 form-group">
						<span class="lbl">Phone1</span>
						<input type="text" name="phone1" th:field="*{phone1}" class="form-control textfield">
					</div>
					
					<div class="col-3 mt-2 form-group">
						<span class="lbl">Phone2</span>
						<input type="text" name="phone2" th:field="*{phone2}" class="form-control textfield">
					</div>
					<div class="col-3 mt-2 form-group">
						<span class="lbl">Email1</span>
						<input type="text" name="email1" th:field="*{email1}" class="form-control textfield">
					</div>
					<div class="col-3 mt-2 form-group">
						<span class="lbl">Email2</span>
						<input type="text" name="email2" th:field="*{email2}" class="form-control textfield">
					</div>
					<div class="col-6 mt-2 form-group">
						<span class="lbl">Viber</span>
						<input type="text" name="viber" th:field="*{viber}" class="form-control textfield">
					</div>
					<div class="col-6 mt-2 form-group">
						<span class="lbl">Telegram</span>
						<input type="text" name="telegram" th:field="*{telegram}" class="form-control textfield">
					</div>
					<div class="col-6 mt-2 form-group">
						<span class="lbl">Facebook</span>
						<input type="text" name="facebook" th:field="*{facebook}" class="form-control textfield">
					</div>
					
					<div class="col-2 mt-2 form-group">
						<span class="lbl"><br /></span>
						<button class="btn btn-sm form-control savebtn">Update</button>
					</div>
				
			</div>
		</div>
		</div>
		</form>
		
      	<div layout:fragment="srhbox" style="width: 100%; background-color: #FFFFFF;" class="">
      	</div>
      	<div layout:fragment="dtabox" style="width: 100%; background-color: #FFFFFF;" class="pt-1 pb-2">
      	</div>
      	<footer class="bg-white border-top pt-2 pb-2" style="height: 35px; width:100%; bottom: 0; position: fixed;">
            <div class="container" style="margin-left: 33%;">
                <div class="copyright">
                    <span>copyright @ <span class="text-danger">www.redboxmm.com</span> 2022</span>
                </div>
            </div>
        </footer>
    </div>
</div>

<script src="webjars/bootstrap/3.3.6/js/bootstrap.min.js"></script>
<script src="webjars/jquery/1.9.1/jquery.min.js"></script>
<script>
	const mobileScreen = window.matchMedia("(max-width: 990px )");
	$(document).ready(function () {
	    $(".dashboard-nav-dropdown-toggle").click(function () {
	        $(this).closest(".dashboard-nav-dropdown")
	            .toggleClass("show")
	            .find(".dashboard-nav-dropdown")
	            .removeClass("show");
	        $(this).parent()
	            .siblings()
	            .removeClass("show");
	    });
	    $(".menu-toggle").click(function () {
	        if (mobileScreen.matches) {
	            $(".dashboard-nav").toggleClass("mobile-show");
	        } else {
	            $(".dashboard").toggleClass("dashboard-compact");
	        }
	    });
	});
</script>
</body>
</html>
