<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymelead/layout">
<h:head>
	<meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <title>PKDM - Author</title>
    <link href="../static/vendor/fontawesome-free/css/all.min.css" th:href="@{/vendor/fontawesome-free/css/all.min.css}" rel="stylesheet" type="text/css" />
    <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet" />
    <link href="../static/css/sb-admin-2.min.css" th:href="@{/css/sb-admin-2.min.css}" rel="stylesheet" />
    <link th:href="@{/css/colors.css}" rel="stylesheet" />
    <link th:href="@{/css/styles.css}" rel="stylesheet" />

</h:head>
 <body>
    <div class='dashboard'>
    <div class="dashboard-nav">
        <header><a href="#!" class="menu-toggle"><i class="fas fa-bars"></i></a>
        	<a class="sidebar-brand d-flex align-items-center justify-content-center" href="index.html">
	            <div class="sidebar-brand-icon rounded-circle">
	                <img th:src="@{/img/lgo-gnr-mjr.png}" width="40px" />
	            </div>
	             <div class="sidebar-brand-text mx-3 text-light pt-2" style="font-size: 14px; line-height: 25px;">Author<br/> <sup class="text-danger" style="font-size: 12px;">Panelization</sup></div>
	       	</a>
        </header>
        <nav class="dashboard-nav-list">
			<ul class="navbar-nav sidebar bg-theme-blue sidebar-dark" style="font-size: 11px;">
				<hr class="sidebar-divider"></hr>
				<div class="sidebar-heading text-dark" >
		           General
		        </div>
				<li class="nav-item">
		            <a class="nav-link text-light" th:href="@{/author/general/dashboard}">
		                <i class="fas fa-fw fa-tachometer-alt text-danger" style="font-size: 14px;"></i>
		                <span style="font-size: 12px;" class="font-weight-lighter">Dashboard</span>
		            </a>
		        </li>
		        
		        <hr class="sidebar-divider"></hr>
		        <div class="sidebar-heading text-dark">
		            Shelf
		        </div>
		        <li class="nav-item">
		            <a class="nav-link text-light" th:href="@{/author/shelf/authors}">
		                <i class="fas fa-cubes text-danger" style="font-size: 14px;"></i>
		                 <span style="font-size: 12px;"  class="font-weight-lighter">Authors</span>
		            </a>
		        </li>
		        <li class="nav-item">
		            <a class="nav-link text-light" th:href="@{/author/shelf/features}">
		                <i class="fas fa-cubes text-danger" style="font-size: 14px;"></i>
		                 <span style="font-size: 12px;"  class="font-weight-lighter">Features</span>
		            </a>
		        </li>
		        <li class="nav-item">
		            <a class="nav-link text-light" th:href="@{/author/shelf/categories}">
		                <i class="fas fa-cubes text-danger" style="font-size: 14px;"></i>
		                 <span style="font-size: 12px;"  class="font-weight-lighter">Categories</span>
		            </a>
		        </li>
		   
		        <hr class="sidebar-divider"></hr>

		         <div class="sidebar-heading text-dark">
		            Discount
		        </div>
		  
		        <li class="nav-item">
		            <a class="nav-link text-light" th:href="@{/author/discount/coupon}">
		                <i class="fas fa-percentage text-danger" style="font-size: 14px;"></i>
		                 <span style="font-size: 12px;"  class="font-weight-lighter">User Coupon</span>
		            </a>
		        </li>
		        
		        <hr class="sidebar-divider"></hr>
		        
		        
				<div class="text-center d-none d-md-inline">
		            <span class="text-warning" style="font-size: 12px;">Version 1.0</span>
		        </div>
			</ul>
        </nav>
    </div>
    <div class="dashboard-app" style="font-size: 11px;">
        <header layout:fragment="tlebox" class='dashboard-toolbar shadow-sm'>
        </header>
        <div class="" style="width: 100%; color: white;">
        	<div class="alert bg-success rounded-0" role="alert" th:text="${save}" th:if="${save}"></div>
        	<div class="alert bg-primary rounded-0" role="alert" th:text="${update}" th:if="${update}"></div>
			<div class="alert bg-danger rounded-0" role="alert" th:text="${validation}" th:if="${validation}"></div>
        </div>
        
        
      	<form th:action="@{/admin/account/authors/save}" th:object="${author}" method="post" class="border-bottom" style="width: 100%; height:150px; box-shadow: none; background-color: #F1F1F2; border-radius: 0px;">
			<div style="width: 100%; background-color: #F1F1F2;"  class="pb-2">
				<div class="row">
					<div class="col-12 font-weight-bold text-danger">
						<h5>Welcome</h5>
					</div>
					<div class="col-12 mb-4" style="height: 5px;">
						<hr style="background-color: #E3E6F0;" />
					</div>
					<div class="col-12 mt-2 form-group">
						<span class="lbl">Hello, Kaung Si Thu, Welcome to Phonenix Kingdom Author Panel</span>
					</div>
				</div>
			</div>
		</form>
		
		
      	<div class="container-fluid mt-2">
			<div class="row">
				<div class="col-sm-12 col-md-12 col-lg-12">
						
						<div class="row" style="font-size: 11px">
					<div class="col-12 font-weight-bold text-danger mt-2 mb-4">
					Books
					</div>
					<div class="col-lg-4 col-md-6 col-sm-12 mb-2">
						<div class="rounded shadow-sm bg-light pt-3 pb-3">
							<div class="form-inline">
								<div class="col-3">
									<i class="fas fa-cubes text-danger" style="font-size: 20px;"></i>
								</div>
								<div class="col-7 font-weight-bold text-dark">
									E-Book
								</div>
								<div class="col-2">
									[[${ebookTotal}]]
								</div>
							</div>
						</div>
					</div>
					<div class="col-lg-4 col-md-6 col-sm-12 mb-2">
						<div class="rounded shadow-sm bg-light pt-3 pb-3">
							<div class="form-inline">
								<div class="col-3">
									<i class="fas fa-cubes text-danger" style="font-size: 20px;"></i>
								</div>
								<div class="col-7 font-weight-bold text-dark">
									P-Book
								</div>
								<div class="col-2">
									[[${pbookTotal}]]
								</div>
							</div>
						</div>
					</div>
					
			  		 <div class="col-12"><hr /></div>
				  </div>		
						
				
						<div class="row" style="font-size: 11px">
						<div class="col-12 font-weight-bold text-danger mt-2 mb-4">
						Shelf
						</div>
						<div class="col-lg-4 col-md-6 col-sm-12 mb-2">
							<div class="rounded shadow-sm bg-light pt-2 pb-2">
								<div class="form-inline">
									<div class="col-3">
										<i class="fas fa-cubes text-danger" style="font-size: 20px;"></i>
									</div>
									<div class="col-7 font-weight-bold text-dark">
										Author
									</div>
									<div class="col-2">
										[[${shelfAuthorTotal}]]
									</div>
								</div>
							</div>
						</div>
						<div class="col-lg-4 col-md-6 col-sm-12 mb-2">
							<div class="rounded shadow-sm bg-light pt-2 pb-2">
								<div class="form-inline">
									<div class="col-3">
										<i class="fas fa-cubes text-danger" style="font-size: 20px;"></i>
									</div>
									<div class="col-7 font-weight-bold text-dark">
										Feature
									</div>
									<div class="col-2">
										[[${shelfFeatureTotal}]]
									</div>
								</div>
							</div>
						</div>
						<div class="col-lg-4 col-md-6 col-sm-12 mb-2">
							<div class="rounded shadow-sm bg-light pt-2 pb-2">
								<div class="form-inline">
									<div class="col-3">
										<i class="fas fa-cubes text-danger" style="font-size: 20px;"></i>
									</div>
									<div class="col-7 font-weight-bold text-dark">
										Category
									</div>
									<div class="col-2">
										[[${shelfCategoryTotal}]]
									</div>
								</div>
							</div>
						</div>
				  		 <div class="col-12"><hr /></div>
					</div>
					
					
					<div class="col-6 row">
							<div class="col-lg-12 col-md-12 col-sm-12 font-weight-bold text-danger mt-2 mb-4">
								Discount
							</div>
							<div class="col-lg-6 col-md-6 col-sm-12 mb-2">
								<div class="rounded shadow-sm bg-light pt-2 pb-2">
									<div class="form-inline">
										<div class="col-3">
											<i class="fas fa-percentage text-danger" style="font-size: 20px;"></i>
										</div>
										<div class="col-7 font-weight-bold text-dark">
											Coupon
										</div>
										<div class="col-2">
											[[${couponTotal}]]
										</div>
									</div>
								</div>
						</div>
				</div>
		</div>
	</div>	
		
</div>			
   
      	<footer class="bg-white border-top pt-2 pb-2" style="height: 35px; width:100%; bottom: 0; position: fixed;">
            <div class="container" style="margin-left: 33%;">
                <div class="copyright">
                    <span>copyright @ <span class="text-danger">www.redboxmm.com</span> 2022</span>
                </div>
            </div>
        </footer>
    </div>
</div>

<script src="webjars/bootstrap/3.3.6/js/bootstrap.min.js"></script>
<script src="webjars/jquery/1.9.1/jquery.min.js"></script>
<script>
	const mobileScreen = window.matchMedia("(max-width: 990px )");
	$(document).ready(function () {
	    $(".dashboard-nav-dropdown-toggle").click(function () {
	        $(this).closest(".dashboard-nav-dropdown")
	            .toggleClass("show")
	            .find(".dashboard-nav-dropdown")
	            .removeClass("show");
	        $(this).parent()
	            .siblings()
	            .removeClass("show");
	    });
	    $(".menu-toggle").click(function () {
	        if (mobileScreen.matches) {
	            $(".dashboard-nav").toggleClass("mobile-show");
	        } else {
	            $(".dashboard").toggleClass("dashboard-compact");
	        }
	    });
	});
</script>
</body>
</html>