<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<h:head>
	<meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <title>PKDM - HOME</title>
    <link href="../static/vendor/fontawesome-free/css/all.min.css" th:href="@{/vendor/fontawesome-free/css/all.min.css}" rel="stylesheet" type="text/css" />
    <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet" />
    <link href="../static/css/sb-admin-2.min.css" th:href="@{/css/sb-admin-2.min.css}" rel="stylesheet" />
    <link th:href="@{/css/colors.css}" rel="stylesheet" />
    <link th:href="@{/css/styles.css}" rel="stylesheet" />
	</h:head> 
</head>	
<body>
	<nav class="navbar navbar-expand-lg navbar-light fixed-top bg-theme-blue" id="mainNav">
	  <div class="container-fluid">
	    <a class="navbar-brand" href="#">
	      <img th:src="@{/img/lgo-gnr-mjr.png}" width="30px" class="" /> 
	      <span style="font-size: 14px;" class="font-weight-bold text-light ml-3"> PHOENIX KINGDOM</span>
	    </a>
	    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
	      Menu
	      <i class="fa fa-bars"></i>
	    </button>
	    <div class="collapse navbar-collapse" id="navbarResponsive">
	      <ul class="navbar-nav ml-auto">
	        <li class="nav-item">
	          <a class="nav-link font-weight-lighter text-light" href="#">Home</a>
	        </li>
	        <li class="nav-item">
	          <a class="nav-link font-weight-lighter text-light" href="#books">Books</a>
	        </li>
	        <li class="nav-item">
	          <a class="nav-link font-weight-lighter text-light" href="#download">DownLoad</a>
	        </li>
	        <li class="nav-item">
	          <a class="nav-link font-weight-lighter text-light" href="#aboutus">About Us</a>
	        </li>
	        <li class="nav-item">
	          <a class="nav-link font-weight-lighter text-light" th:href="@{/signin}">Sign In</a>
	        </li>
	      </ul>
	    </div>
	  </div>
	</nav>
	
	
		<section class="mt-5" id="home">
	 	<img th:src="@{/img/banner-1.png}" width="100%" class="" /> 
	 	</section>
	 
	<section class="container-fluid p-4" id="books" style="background-color: #F1F1F2;">
	<h5 class="font-weight-bold text-uppercase" style="font-size: 18px;">ENTIRE Books From Phoenix Kingdom</h5>
		<div class="media-scroller1 pt-3">
	 		<div class="rounded pb-4" style="width: 14rem; background-color: #FFFFFF;" th:each="loneChinBook : ${loneChinBooks}">
		        <img th:src=@{${loneChinBook.image}} class="rounded" 
		        style="width: 100%;">
		        <div class="pt-2">
		          <p style="font-size: 11px;" class="font-weight-bold mb-0 pl-2 pr-2"> [[${loneChinBook.name}]]</p>
		         
		        </div>
		      </div>
		</div>       
		
	 	<h5 class="font-weight-bold text-uppercase mt-5" style="font-size: 18px;">SERIE Books From Phoenix Kingdom</h5>
	 	<div class="media-scroller1 pt-3">
	 		<div class="rounded pb-4" style="width: 14rem; background-color: #FFFFFF;" th:each="seriesBook : ${seriesBooks}">
		        <img th:src=@{${seriesBook.image}} class="rounded" 
		        style="width: 100%;">
		        <div class="pt-2">
		          <p style="font-size: 11px;" class="font-weight-bold mb-0 pl-2 pr-2"> [[${seriesBook.name}]]</p>
		         
		        </div>
		      </div>
		</div>
		       
	 		
	</section>
	 
	 <section class="mt-5 container-fluid" id="download">
	 	<h5 class="text-center font-weight-bold" style="font-size: 23px;"> Downloads</h5>
	 	<div class="row">
	 		<div class="col-md-6 border-right mt-2">
	 			<div class="row pl-5">
	 				<div class="col-4"></div>
			 			<div class="col-4 pl-5 d-flex justify-content-center">
			 				<img th:src="@{/img/andriodicon.jpg}" width="150px" class="" /> 
			 			
			 			</div>
			 			<div class="col-4 pt-5 mt-4">
		 			 		<button class="btn btn-success"> <i class="fas fa-download mr-1"></i> DownLoad</button>	
		 				</div>
	 				</div>
	 			</div>
	 		<div class="col-md-6 mt-2">
	 			<div class="row pl-2">
		 			<div class="col-3 pl-5 d-flex justify-content-center">
		 			<img th:src="@{/img/iosicon.jpg}" width="150px" class="" /> 
		 			
		 			
		 			</div>
		 			<div class="col-5 pt-5 mt-4 pl-4 ml-1">
	 			 		<button class="btn btn-success"> <i class="fas fa-download mr-1"></i> DownLoad</button>	
	 				</div>
	 			</div>
	 		</div>		
	 	</div>
	 </section>
	 
	 <section class="mt-4 p-4 container-fluid" id="aboutus" style="background-color: #F1F1F2;">
	 	<h5 class="text-center font-weight-bold" style="font-size: 23px;"> About Us</h5>
	 	<div class="row pt-4">
	 		<div class="col-1"></div>
	 		<div class="col-md-5 pr-0">
	 			<img src="https://banterbookshop.com/i/9924361/Banter_Bookshop_downtown_Fremont_CA_bookstore_6_15_22.png" width="100%" height="260px">
	 		</div>
	 		<div class="col-md-5 pt-2 pr-3" style="background-color: #F1F1F2; font-size: 15px; height: 260px">
	 			<h5 class="text-center pt-3" > Team </h5>
	 			<p class="text-center pt-1 pb-0">
			 		In publishing and graphic design, Lorem ipsum
			 		is a placeholder text commonly used to demonstrate the
			 		visual form of a document or a typeface without relying
			 		on meaningful content. Lorem ipsum may be used as a placeholder
			 		before final copy is available.
			 		In publishing and graphic design, Lorem ipsum
			 		Lorem ipsum may be used as a placeholder
			 		before final copy is available.
			 		In publishing and graphic design, Lorem ipsum
			 		In publishing and graphic design, Lorem ipsum
			 	</p> 	 
	 		</div>
	 	</div>
	 </section>
	
	</div>
	
      
    <footer class="sticky-footer" style="height: 10px; background-color: rgba(0, 0, 0, 0.4);">
        <div class="container my-auto">
            <div class="mb-2 copyright text-light text-center my-auto" style="font-size: 12px;">
                <span>Copyright @ www.redboxmm.com 2022</span>
            </div>
        </div>
    </footer>
</body>
</html>